In [10]:
# This is part one code for Data Exploration.

# import packages
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Load the Data
filename = 'data_ski.xls'
info = pd.read_excel(filename)

In [11]:
# Let us explore the dataset
info.shape

(330, 27)

In [12]:
info.columns

Index(['Name', 'region', 'state', 'summit_elev', 'vertical_drop', 'base_elev',
       'trams', 'fasteight', 'fastsixes', 'fastquads', 'quad', 'triple',
       'double', 'surface', 'total_chairs', 'runs', 'terrainparks',
       'longestrun_mi', 'skiableterrain_ac', 'snow_making_ac',
       'daysopenlastyear', 'yearsopen', 'averageSnowfall', 'adultweekday',
       'adultweekend', 'projecteddaysopen', 'nightskiing_ac'],
      dtype='object')

In [13]:
# Let us clean the dataset base on the information needed. 

# Rename the columns
info.index

RangeIndex(start=0, stop=330, step=1)

In [14]:
#show me the example of the dataset
info.head()

,Name,region,state,summit_elev,vertical_drop,base_elev,trams,fasteight,fastsixes,fastquads,...,longestrun_mi,skiableterrain_ac,snow_making_ac,daysopenlastyear,yearsopen,averageSnowfall,adultweekday,adultweekend,projecteddaysopen,nightskiing_ac
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,NaN
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,NaN
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,NaN,0,1,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

In [15]:
# slicing the data to start the EDA process
info.keys()

Index(['Name', 'region', 'state', 'summit_elev', 'vertical_drop', 'base_elev',
       'trams', 'fasteight', 'fastsixes', 'fastquads', 'quad', 'triple',
       'double', 'surface', 'total_chairs', 'runs', 'terrainparks',
       'longestrun_mi', 'skiableterrain_ac', 'snow_making_ac',
       'daysopenlastyear', 'yearsopen', 'averageSnowfall', 'adultweekday',
       'adultweekend', 'projecteddaysopen', 'nightskiing_ac'],
      dtype='object')

In [16]:
info.describe()

,summit_elev,vertical_drop,base_elev,trams,fasteight,fastsixes,fastquads,quad,triple,double,...,longestrun_mi,skiableterrain_ac,snow_making_ac,daysopenlastyear,yearsopen,averageSnowfall,adultweekday,adultweekend,projecteddaysopen,nightskiing_ac
count,330.000000,330.000000,330.000000,330.000000,164.000000,330.000000,330.000000,330.000000,330.00000,330.000000,...,325.000000,327.000000,284.000000,279.000000,329.000000,316.000000,276.000000,279.000000,283.000000,187.000000
mean,4591.818182,1215.427273,3374.000000,0.172727,0.006098,0.184848,1.018182,0.933333,1.50000,1.833333,...,1.433231,739.801223,174.873239,115.103943,63.656535,185.316456,57.916957,64.166810,120.053004,100.395722
std,3735.535934,947.864557,3117.121621,0.559946,0.078087,0.651685,2.198294,1.312245,1.61913,1.815028,...,1.156171,1816.167441,261.336125,35.063251,109.429928,136.356842,26.140126,24.554584,31.045963,105.169620
min,315.000000,60.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,8.000000,2.000000,3.000000,6.000000,18.000000,15.000000,17.000000,30.000000,2.000000
25%,1403.750000,461.250000,869.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,...,0.500000,85.000000,50.000000,97.000000,50.000000,69.000000,40.000000,47.000000,100.000000,40.000000
50%,3127.500000,964.500000,1561.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000,...,1.000000,200.000000,100.000000,114.000000,58.000000,150.000000,50.000000,60.000000,120.000000,72.000000
75%,7806.000000,1800.000000,6325.250000,0.000000,0.000000,0.000000,1.000000,1.000000,2.00000,3.000000,...,2.000000,690.000000,200.500000,135.000000,69.000000,300.000000,71.000000,77.500000,139.500000,114.000000
max,13487.000000,4425.000000,10800.000000,4.000000,1.000000,6.000000,15.000000,8.000000,8.00000,14.000000,...,6.000000,26819.000000,3379.000000,305.000000,2019.000000,669.000000,179.000000,179.000000,305.000000,650.000000

In [20]:
# getting the information of just the state of Montana
info.iloc[141:152]

,Name,region,state,summit_elev,vertical_drop,base_elev,trams,fasteight,fastsixes,fastquads,...,longestrun_mi,skiableterrain_ac,snow_making_ac,daysopenlastyear,yearsopen,averageSnowfall,adultweekday,adultweekend,projecteddaysopen,nightskiing_ac
141,Blacktail Mountain Ski Area,Montana,Montana,6676,1440,5236,0,NaN,0,0,...,0.7,1000.0,NaN,NaN,21.0,250.0,42.0,42.0,NaN,NaN
142,Bridger Bowl,Montana,Montana,8700,2600,6100,0,0.0,0,0,...,1.5,2000.0,100.0,122.0,64.0,350.0,63.0,63.0,133.0,NaN
143,Discovery Ski Area,Montana,Montana,8150,2380,5770,0,0.0,0,0,...,1.5,2400.0,25.0,116.0,46.0,225.0,49.0,49.0,116.0,NaN
144,Great Divide,Montana,Montana,7330,1580,5750,0,0.0,0,0,...,3.0,1600.0,150.0,94.0,78.0,180.0,48.0,48.0,100.0,100.0
145,Lost Trail - Powder Mtn,Montana,Montana,8200,1800,6400,0,NaN,0,0,...,2.5,1800.0,NaN,84.0,81.0,325.0,46.0,46.0,80.0,NaN
146,Maverick Mountain,Montana,Montana,8520,2020,6500,0,NaN,0,0,...,1.3,255.0,NaN,NaN,83.0,160.0,39.0,39.0,NaN,NaN
147,Montana Snowbowl,Montana,Montana,7600,2600,5000,0,NaN,0,0,...,1.2,950.0,20.0,NaN,58.0,300.0,50.0,50.0,NaN,10.0
148,Red Lodge Mountain,Montana,Montana,9416,2400,7016,0,0.0,0,2,...,2.5,1635.0,496.0,142.0,59.0,250.0,67.0,67.0,136.0,NaN
149,Showdown Montana,Montana,Montana,8200,1400,6800,0,0.0,0,0,...,1.8,640.0,NaN,86.0,83.0,250.0,47.0,47.0,85.0,NaN
150,Teton Pass Ski Resort,Montana,Montana,7200,1010,6190,0,NaN,0,0,...,3.0,330.0,NaN,40.0,54.0,250.0,39.0,39.0,150.0,NaN
151,Big Mountain Resort,Montana,Montana,6817,2353,4464,0,0.0,0,3,...,3.3,3000.0,600.0,123.0,72.0,333.0,81.0,81.0,123.0,600.0

In [21]:
info.iloc[141:152].describe()

,summit_elev,vertical_drop,base_elev,trams,fasteight,fastsixes,fastquads,quad,triple,double,...,longestrun_mi,skiableterrain_ac,snow_making_ac,daysopenlastyear,yearsopen,averageSnowfall,adultweekday,adultweekend,projecteddaysopen,nightskiing_ac
count,11.000000,11.000000,11.000000,11.0,6.0,11.0,11.000000,11.000000,11.000000,11.000000,...,11.000000,11.000000,6.000000,8.000000,11.000000,11.000000,11.000000,11.000000,8.000000,3.000000
mean,7891.727273,1962.090909,5929.636364,0.0,0.0,0.0,0.454545,0.272727,1.818182,2.181818,...,2.027273,1419.090909,231.833333,100.875000,63.545455,261.181818,51.909091,51.909091,115.375000,236.666667
std,845.006993,548.060299,783.089174,0.0,0.0,0.0,1.035725,0.646670,2.522625,1.601136,...,0.868436,869.898897,251.817725,31.881197,18.980852,61.043948,13.095454,13.095454,25.082364,317.857410
min,6676.000000,1010.000000,4464.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.700000,255.000000,20.000000,40.000000,21.000000,160.000000,39.000000,39.000000,80.000000,10.000000
25%,7265.000000,1510.000000,5493.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,...,1.400000,795.000000,43.750000,85.500000,56.000000,237.500000,44.000000,44.000000,96.250000,55.000000
50%,8150.000000,2020.000000,6100.000000,0.0,0.0,0.0,0.000000,0.000000,1.000000,2.000000,...,1.800000,1600.000000,125.000000,105.000000,64.000000,250.000000,48.000000,48.000000,119.500000,100.000000
75%,8360.000000,2390.000000,6450.000000,0.0,0.0,0.0,0.000000,0.000000,3.000000,2.500000,...,2.750000,1900.000000,409.500000,122.250000,79.500000,312.500000,56.500000,56.500000,133.750000,350.000000
max,9416.000000,2600.000000,7016.000000,0.0,0.0,0.0,3.000000,2.000000,6.000000,5.000000,...,3.300000,3000.000000,600.000000,142.000000,83.000000,350.000000,81.000000,81.000000,150.000000,600.000000

In [25]:
# looking at the information of just the focus of the exploration Big Mountain Resort.
info.iloc[151]

Name                 Big Mountain Resort
region                           Montana
state                            Montana
summit_elev                         6817
vertical_drop                       2353
base_elev                           4464
trams                                  0
fasteight                              0
fastsixes                              0
fastquads                              3
quad                                   2
triple                                 6
double                                 0
surface                                3
total_chairs                          14
runs                                 105
terrainparks                           4
longestrun_mi                        3.3
skiableterrain_ac                   3000
snow_making_ac                       600
daysopenlastyear                     123
yearsopen                             72
averageSnowfall                      333
adultweekday                          81
adultweekend                          81
projecteddaysopen                    123
nightskiing_ac                       600
Name: 151, dtype: object